{{- $symbol := .symbol | default "NASDAQ:AAPL" -}}
{{- $height := .height | default "400" -}}
{{- $width := .width | default "100%" -}}

<div class="tradingview-widget-container" style="height: {{ $height }}px;">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript">
        var config = {{ dict
            "symbol" $symbol
            "width" $width
            "height" $height
            "locale" "en"
            "dateRange" "12M"
            "colorTheme" "light"
            "isTransparent" true
            "autosize" true
            "largeChartUrl" ""
        | jsonify | safeJS }};
        new TradingView.widget(config);
    </script>
</div> 