{{- $symbol := .Get "symbol" | default "NASDAQ:AAPL" -}}
{{- $height := .Get "height" | default "400" -}}
{{- $width := .Get "width" | default "100%" -}}

<div class="tradingview-widget-container" style="height: {{ $height }}px;">
    <div class="tradingview-widget-container__widget"></div>

    {{- printf `<script type="text/javascript">
    new TradingView.widget({
        "symbol": "%s",
        "width": "%s",
        "height": "%s",
        "locale": "en",
        "dateRange": "12M",
        "colorTheme": "light",
        "isTransparent": true,
        "autosize": true,
        "largeChartUrl": ""
    });
    </script>` $symbol $width $height | safeHTML -}}
</div> 